@import "tailwindcss";

body {
	min-height: 100vh;
	background: linear-gradient(to bottom, #0b1220, #000000);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 2.5rem 1.5rem;
}